<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PersonalImprovement.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>QuartzDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>photoData-lightweightCtrl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4981A04A1C62EFEA009B0157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4981A0631C62EFEA009B0157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4981A06E1C62EFEA009B0157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4981A0841C62F03F009B0157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4981A09F1C62F05E009B0157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49A0A3781D66D48700633FFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
